{#- Structured data derived from the organizer, venue and current edition records. Nothing typed twice. -#}
{%- set org = db.site.organizer -%}
{%- set venue = db.site.venue -%}
{%- set organization = {
  "@type": "Organization",
  "name": org.name | t(lang),
  "alternateName": org.shortName,
  "url": org.url,
  "address": { "@type": "PostalAddress", "streetAddress": org.street, "postalCode": org.postalCode, "addressLocality": org.town, "addressCountry": org.countryCode },
  "sameAs": [db.site.facebook]
} -%}
<script type="application/ld+json">{{ { "@context": "https://schema.org", "@type": organization["@type"], "name": organization.name, "alternateName": organization.alternateName, "url": organization.url, "address": organization.address, "sameAs": organization.sameAs } | dump | safe }}</script>
{%- if (pageKey == 'home' or pageKey == 'programme') and edition.dateFrom %}
{%- set event = {
  "@context": "https://schema.org",
  "@type": "Event",
  "name": db.site.name + " " + edition.year,
  "description": metaDescription,
  "startDate": edition.dateFrom,
  "endDate": edition.dateTo,
  "eventStatus": "https://schema.org/EventScheduled",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "location": { "@type": "Place", "name": venue.name, "url": venue.url, "address": { "@type": "PostalAddress", "streetAddress": venue.street, "postalCode": venue.postalCode, "addressLocality": venue.town, "addressCountry": venue.countryCode } },
  "organizer": organization,
  "inLanguage": db.languages,
  "image": build.absoluteUrl('/' + (edition.poster or edition.logo.color)),
  "url": build.absoluteUrl(db.pageUrl('home', lang))
} -%}
<script type="application/ld+json">{{ event | dump | safe }}</script>
{%- endif %}
